* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #4169e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

form {
    padding: 72px;
}

input {
    padding: 10px 15px;
}